{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<script src="../static/js/cable_list.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<div class="table-responsive col-sm-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="border-0"></th>
                <th class="border-top-0 border-bottom-0 border-left-0"></th>
                <th>Nr poz.</th>
                <th>Nr obwodu</th>
                <th>Nazwa</th>
                <th>Uo [kV]</th>
                <th>Po [kW]</th>
                <th>cos fi</th>
                <th>Ib [A]</th>
                <th>Ilość kabli</th>
                <th>Ilość żył</th>
                <th>Sposób ułożenia</th>
                <th>Izolacja</th>
                <th>Typ</th>
                <th>Przekrój [mm2]</th>
                <th>Długość [m]</th>
                <th>Id [A]</th>
                <th>kc</th>
                <th>Iz [A]</th>
                <th>Typ</th>
                <th>In [A]</th>
                <th>kr</th>
                <th>Ir [A]</th>
                <th>k2</th>
                <th>I2</th>
                <th>Warunki spełnione?</th>
                <th>deltaU [%]</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr class="cableList" data-id="{{ result.position }}">
                    <td class="border-0"><a href=""><img class="arrow-up" src="{% static "arrow-up.png" %}" width="20" height="20" alt="Sortuj"></a></td>
                    <td class="border-top-0 border-bottom-0 border-left-0"><a href=""><img class="arrow-down" src="{% static "arrow-down.png" %}" width="20" height="20" alt="Sortuj"></a></td>
                    <td data-position="{{ result.position }}">{{ result.position }}</td>
                    <td>{{ result.cir_number }}</td>
                    <td>{{ result.cir_name }}</td>
                    <td>{{ result.cir_voltage }}</td>
                    <td>{{ result.cir_power }}</td>
                    <td>{{ result.cir_cos_fi }}</td>
                    <td>{{ result.cir_current }}</td>
                    <td>{{ result.cab_amount }}</td>
                    <td>{{ result.core_amount }}</td>
                    <td>{{ result.cab_routing }}</td>
                    <td>{{ result.cab_insulation }}</td>
                    <td>{{ result.cab_material }}</td>
                    <td>{{ result.cab_cable_cross_section }}</td>
                    <td>{{ result.cab_length }}</td>
                    <td>{{ result.cab_i_dd }}</td>
                    <td>{{ result.cab_kc_factor }}</td>
                    <td>{{ result.cab_i_z }}</td>
                    <td>{{ result.dev_type }}</td>
                    <td>{{ result.dev_current }}</td>
                    <td>{{ result.dev_kr_factor }}</td>
                    <td>{{ result.dev_i_r }}</td>
                    <td>{{ result.dev_k2_factor }}</td>
                    <td>{{ result.dev_i_2 }}</td>
                    <td>{{ result.conditions }}</td>
                    <td>{{ result.cab_vol_drop }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
