{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<form action="#" method="post">
    {% csrf_token %}
    <div class="form-row ">
        <div class="col-md-6 mb-0">Odbiornik:</div>

        <div class="form-group col-md-12 mb-0">
            {% crispy cable_selection_form %}
        </div>

        <input type="submit" class="btn btn-primary" value="Oblicz">
    </div>
</form>
    <div class="border border-secondary results m-2"> Ir = {{ i_r }} </div>
    <div class="border border-secondary results m-2"> Idd = {{ i_dd }} </div>
    <div class="border border-secondary results m-2"> I2 = {{ i_2 }} </div>
    <div class="border border-secondary results m-2"> Ib = {{ i_b }} </div>
    <div class="border border-secondary results m-2"> deltaU = {{ delta_u }} </div>

    <div class="form-group col-md-12 mb-0">Warunki ochrony przeciążeniowej:</div>
    <div class="form-row border border-secondary">
        <input type="submit" class="btn btn-primary">
    </div>
{% endblock content %}

